input,
select {
    border: 2px solid lightgrey;
    border-radius: 10px;
    display: block;
    margin: 10px;
    max-width: 580px;
    outline: none;
    padding: 15px;
    width: 100%;
}

input::placeholder,
select::placeholder {
    color: darkgrey;
    font-style: italic;
    font-weight: bold;
}

input.submitBtn {
    background: #551AFF;
    border: 1px solid darkblue;
    color: white;
    height: 50px;
    font-size: 20px;
}

option {
    color: black;
    font-weight: normal;
    font-style: normal;
}

option:first-child {
    display: none;
}