input,
select {
    border: 2px solid lightgrey;
    border-radius: 10px;
    display: block;
    margin: 10px;
    max-width: 580px;
    outline: none;
    padding: 15px;
    width: 100%;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, darkgray 50%), linear-gradient(135deg, darkgray 50%, transparent 50%);
    background-position: calc(100% - 25px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 10px 10px, 10px 10px, 1px 1.5em;
    background-repeat: no-repeat;
}

input::placeholder,
select::placeholder {
    color: darkgrey;
    font-style: italic;
    font-weight: bold;
}

input.submitBtn {
    background: rgb(63, 1, 210);
    border: 1px solid darkblue;
    color: white;
    height: 50px;
    font-size: 20px;
}

option {
    color: black;
    font-weight: normal;
    font-style: normal;
}

option:first-child {
    display: none;
}