.side-bar {
    border-left: 1px solid lightgrey;
    display: inline-block;
    vertical-align: top;
    padding-left: 20px;
    position: fixed;
    bottom: 30%;
    top: 25px;
    width: 25%;
}

ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

ul li {
    list-style-type: none;
    font-weight: bold;
    margin: 20px 0;
}

ul li i {
    padding-left: 10px;
}


/* semantic UI CSS override */

a:link {
    color: #0000EE;
}

a:visited {
    color: #551A8B;
}